app:
  title: Scaffolded Backstage App
  baseUrl: http://localhost:3000

organization:
  name: Makson Lee

backend:
  baseUrl: http://localhost:7007
  listen: ':7007'
  csp:
    connect-src: ["'self'", 'http:', 'https:']
  cors:
    origin: http://localhost:3000
    methods: [GET, HEAD, PATCH, POST, PUT, DELETE]
    credentials: true

  database:
    client: better-sqlite3
    connection:
      directory: /tmp/backstage-data

integrations:
  github:
    - host: github.com
      token: ${GITHUB_TOKEN}

  gerrit:
    - host: gerrit.maksonlee.com
      baseUrl: https://gerrit.maksonlee.com
      gitilesBaseUrl: https://gerrit.maksonlee.com/plugins/gitiles
      username: backstage
      password: ${GERRIT_TOKEN}

jenkins:
  instances:
    - name: default
      baseUrl: https://jenkins.maksonlee.com
      username: backstage
      apiKey: ${JENKINS_API_TOKEN}
      projectCountLimit: 250
      # crumbIssuer: true

techdocs:
  builder: local
  generator:
    runIn: docker
  publisher:
    type: local

auth:
  providers:
    guest: {}

catalog:
  import:
    entityFilename: catalog-info.yaml
    pullRequestBranchName: backstage-integration
  rules:
    - allow: [Component, System, API, Resource, Location]
  locations: []

  providers:
    github:
      maksonlee:
        organization: 'maksonlee'
        catalogPath: '/catalog-info.yaml'
        filters:
          repository: '.*'
        schedule:
          frequency: { minutes: 30 }
          timeout: { minutes: 3 }

    gerrit:
      platformManifestCatalog:
        host: gerrit.maksonlee.com
        query: 'state=ACTIVE&prefix=platform/manifest'
        branch: 'backstage-catalog'
        catalogPath: 'catalog/products/*.yaml'
        schedule:
          frequency: { minutes: 30 }
          timeout: { minutes: 3 }

proxy:
  endpoints:
    '/artifactory':
      target: https://artifactory.maksonlee.com/artifactory
      changeOrigin: true
      headers:
        Authorization: ${ARTIFACTORY_AUTH_HEADER}
    '/harbor':
      target: https://harbor.maksonlee.com
      changeOrigin: true
      secure: true
      headers:
        accept: application/json

argocd:
  appLocatorMethods:
    - type: config
      instances:
        - name: main
          url: https://argocd.maksonlee.com
          token: ${ARGOCD_AUTH_TOKEN}

permission:
  enabled: true
