app:
  baseUrl: https://backstage.maksonlee.com

backend:
  baseUrl: https://backstage.maksonlee.com
  cors:
    origin: https://backstage.maksonlee.com
    credentials: true

  database:
    client: pg
    pluginDivisionMode: schema
    connection:
      host: backstage.maksonlee.com
      port: 5432
      user: backstage
      password: ${POSTGRES_PASSWORD}
      database: backstage

auth:
  environment: production
  session:
    secret: ${AUTH_SESSION_SECRET}
  providers:
    guest: null
    oidc:
      production:
        metadataUrl: https://keycloak.maksonlee.com/realms/maksonlee.com/.well-known/openid-configuration
        clientId: backstage
        clientSecret: ${AUTH_OIDC_CLIENT_SECRET}
        additionalScopes:
          - profile
          - email
        prompt: auto
        signIn:
          resolvers:
            - resolver: emailMatchingUserEntityProfileEmail

catalog:
  providers:
    ldapOrg:
      default:
        target: ldaps://ldap.maksonlee.com
        bind:
          dn: 'uid=backstage,ou=system,dc=maksonlee,dc=com'
          secret: ${LDAP_BIND_PASSWORD}
        schedule:
          frequency: PT1H
          timeout: PT15M
          initialDelay: PT3M
        users:
          - dn: 'ou=people,dc=maksonlee,dc=com'
            options:
              scope: sub
              filter: '(&(objectClass=inetOrgPerson)(uid=*))'
            map:
              rdn: uid
              name: uid
              displayName: cn
              email: mail
              memberOf: isMemberOf
            set:
              metadata.namespace: default
        groups:
          - dn: 'ou=organization,ou=groups,dc=maksonlee,dc=com'
            options:
              scope: sub
              filter: '(objectClass=groupOfNames)'
            map:
              rdn: cn
              name: cn
              displayName: cn
              description: description
              members: member
            set:
              metadata.namespace: default
              spec.type: team
